<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recherche</title></head>
<body>
<h1>Maa Dictionary</h1>

<form th:action="@{/search}" method="post">
    <label>
        <input type="text" name="q" th:value="${q}" placeholder="word…" autofocus>
    </label>
    <button type="submit">Search</button>
</form>

<div th:if="${results}">
    <h2 th:text="'Results : ' + ${results.size()}"></h2>
    <ul>
        <li th:each="r : ${results}"
            th:text="${r.vocabulary.form} + ' — ' + ${r.vocabulary.gloss}"
        ></li>
    </ul>
</div>
</body>
</html>
